@mixin gradient($photo) {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
        url("../img/#{$photo}.jpg");
}

@mixin text-gradient-mixin {
    background-image: $text-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin clip-path {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
