*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*for example if want to set 1 rem = 10px and font-size 16px, 
    need 10/16 = 625*/

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
    }
    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px; 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px; 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 0 2rem;

    @include respond(tab-port) {
       padding: 0;
    }
}

img {
    border-style: none;
}

a {
    text-decoration: none;
    color: $color-black;
}

section {
    background-color: $color-grey-light-1;
}

li {
    list-style: none;
}
